@model IEnumerable<Universidad.Models.Asignatura>

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle d-flex justify-content-between">
    <div class="pagetitle">
        <h1>Teachers</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Students</li>
            </ol>
        </nav>
    </div>

    <div class="d-flex align-items-center">
        <button type="button" class="btn btn-outline-primary h-50">
            <a class="text-decoration-none" asp-action="Create">Create New</a>
        </button>
    </div>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card overflow-auto">
                <div class="card-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Celular</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-index="0">
                                    <td>@item.Codigo</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.IdPersonaNavigation.Correo</td>
                                    <td>@item.IdPersonaNavigation.NumCelular</td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.IdEstudiantes"><i class="bi bi-info-circle"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreRequisitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAreaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreRequisitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAreaNavigation.IdArea)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAsignatura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAsignatura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAsignatura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
