@model IEnumerable<Universidad.Models.Area>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>

@{
	int i = 1;
}
<div>
	<div class="card-body w-50 m-auto">
		@foreach (var area in Model)
		{
			<h5 class="card-title">@area.Nombre</h5>

			<!-- Table with stripped rows -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Careers</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var career in area.Carreras)
					{
						<tr>
							<td>
								@i
							</td>
							<td>
								@career.Nombre
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@career.IdArea">Edit</a> |
								<a asp-action="Details" asp-route-id="@career.IdArea">Details</a> |
								<a asp-action="Delete" asp-route-id="@career.IdArea">Delete</a>
							</td>
						</tr>
						i++;
					}
					@{
						i = 1;
					}
				</tbody>
			</table>
		}
	</div>
</div>
