@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}

@*<div class="container">

	<section class="section register min-vh-75 d-flex flex-column align-items-center justify-content-center py-4">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

					<div class="d-flex justify-content-center py-4">
						<a href="index.html" class="logo d-flex align-items-center w-auto">
							<img src="assets/img/logo.png" alt="">
							<span class="d-none d-lg-block">JILCY UNIVERSITY</span>
						</a>
					</div><!-- End Logo -->

					<div class="card mb-3">

						<div class="card-body">

							<div class="pt-4 pb-2">
								<h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
								<p class="text-center small">Enter your username & password to login</p>
							</div>

							<form class="row g-3 needs-validation" id="account" method="post">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="col-12 form-floating">
									<label asp-for="Input.Email" for="yourUsername" class="form-label">Username</label>
									<div class="input-group has-validation">
										<span class="input-group-text" id="inputGroupPrepend">@@</span>
										<input asp-for="Input.Email" type="text" name="username" class="form-control" id="yourUsername" required>
										<span asp-validation-for="Input.Email" class="text-danger invalid-feedback"></span>
									</div>
								</div>

								<div class="col-12">
									<label asp-for="Input.Password" for="yourPassword" class="form-label">Password</label>
									<input asp-for="Input.Password" type="password" name="password" class="form-control" id="yourPassword" required>
									<span class="text-danger invalid-feedback" asp-validation-for="Input.Password"></span>
								</div>

								<div class="col-12">
									<div class="form-check">
										<input asp-for="Input.RememberMe" class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
										<label asp-for="Input.RememberMe" class="form-check-label" for="rememberMe">Remember me</label>
									</div>
								</div>


								<div class="col-12">
									<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
								</div>
								<div>
									<p class="small mb-0">
										<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
									</p>
									<p class="small mb-0">
										<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
									</p>
									<p class="small mb-0">
										<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
									</p>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</div>*@

<h1>@ViewData["Title"]</h1>
<div class="row">
	<div class="col-md-4">
		<section>
			<form id="account" method="post">
				<h2>Use a local account to log in.</h2>
				<hr />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating">
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
					<label asp-for="Input.Email" class="form-label"></label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
					<label asp-for="Input.Password" class="form-label"></label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div>
					<div class="checkbox">
						<label asp-for="Input.RememberMe" class="form-label">
							<input class="form-check-input" asp-for="Input.RememberMe" />
							@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
					</div>
				</div>
				<div>
					<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
				</div>
				<div>
					<p>
						<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
					</p>
					<p>
						<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
					</p>
					<p>
						<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
					</p>
				</div>
			</form>
		</section>
	</div>
	<div class="col-md-6 col-md-offset-2">
		<section>
			<h3>Use another service to log in.</h3>
			<hr />
			@{
				if ((Model.ExternalLogins?.Count ?? 0) == 0)
				{
					<div>
						<p>
							There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
								article
								about setting up this ASP.NET application to support logging in via external services
							</a>.
						</p>
					</div>
				}
				else
				{
					<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
						<div>
							<p>
								@foreach (var provider in Model.ExternalLogins!)
								{
									<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
								}
							</p>
						</div>
					</form>
				}
			}
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
