@model IEnumerable<Universidad.Models.Asignatura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProfesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreRequisitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCursoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreRequisitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCursoNavigation.IdCurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAsignatura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAsignatura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAsignatura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
